@using FormBuilderMVC.Controllers
@using FormBuilderSharedService.Utilities
@{
    ViewData["Title"] = "Survey Output";
}

<h4>Survey Output</h4>
<hr />

<div class="container body-content border p-3 mt-4 mb-4">
    <form asp-action="@nameof(FormBuilderController.Submit)" asp-controller="@StringHelper.ExtractControllerName(typeof(FormBuilderController))" method="post" enctype="multipart/form-data">
        <p>@Html.Raw(ViewBag.InputTag)</p>
    </form>
</div>

<div class="container body-content border p-3 mt-4 mb-4">
    <h5>Html tags</h5>
    <hr />
    <div>
        <p style="white-space: pre-wrap;">@ViewBag.InputTag</p>
    </div>
</div>