@{
    ViewData["Title"] = "Survey Output";
}

<h4>Survey Output</h4>
<hr />

<div class="container body-content border p-3 mt-4 mb-4">
    <p>@Html.Raw(ViewBag.InputTag)</p>
</div>

<div class="container body-content border p-3 mt-4 mb-4">
    <h5>Html tags</h5>
    <hr />
    <div>
        <p style="white-space: pre-wrap;">@ViewBag.InputTag</p>
    </div>
</div>