@using FormBuilderMVC.Controllers
@using FormBuilderMVC.Utilities
@model FormBuilderMVC.DTOs.Request.CreateControlRequest

@{
    ViewData["Title"] = "Create Control";
}

<h4>Create Control</h4>
<hr />
<div class="container body-content border p-3 mt-4 mb-4">
    <form asp-action="@nameof(ControlsController.AddControl)" asp-controller="@StringHelper.ExtractControllerName(typeof(ControlsController))" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <partial name="_ControlCreateAndEdit" for="@Model.Control" />

        <div class="form-group mb-4">
            <input type="submit" value="Create control" class="btn btn-primary" />
        </div>
    </form>
</div>