@using FormBuilderMVC.Controllers
@using FormBuilderSharedService.Utilities
@model FormBuilderDTO.DTOs.Request.UpdateControlRequest

@{
    ViewData["Title"] = "Edit Control";
}

<h4>Edit Control</h4>
<hr />
<div class="container body-content border p-3 mt-4 mb-4">
    <form asp-action="@nameof(ControlsController.UpdateControl)" asp-controller="@StringHelper.ExtractControllerName(typeof(ControlsController))" asp-route-Control.Id="@Model.Control.Id" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <partial name="_ControlCreateAndEdit" for="@Model.Control" />

        <div class="form-group mb-4">
            <input type="submit" value="Update control" class="btn btn-primary" />
        </div>
    </form>
</div>