@page "/Controls"
@rendermode InteractiveServer

<h3>Controls</h3>

<div class="container body-content border p-3 mt-4 mb-4">

    <div class="row mb-3">
        <div class="col-md-2">
            <button @onclick="NavigateToCreateControl" class="btn btn-primary">Create control</button>
        </div>
    </div>

    <table class="table table-hover table-striped-columns table-bordered table-responsive">
        <thead class="table-dark text-center">
            <tr>
                <th>
                    Internal name
                </th>
                <th>
                    Input type
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody class="text-center">
            @if (_getAllControlsResponse is not null)
            {
                @foreach (var item in _getAllControlsResponse.Controls)
                {
                    <tr>
                        <td>
                            @item.InternalName
                        </td>
                        <td>
                            @item.InputType
                        </td>
                        <td>
                            <button class="btn btn-warning btn-sm" @onclick="@(() => EditControl(item.Id))">Edit</button>
                            <button class="btn btn-danger btn-sm" @onclick="@(() => DeleteControl(item.Id))">Delete</button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
