@page "/CreateControl"
@using FormBuilderBLAZOR.Components.Pages.Input
@rendermode InteractiveServer

<h3>Create Control</h3>

<EditForm Model="@CreateControlRequest" OnValidSubmit="@AddControl">
    <ObjectGraphDataAnnotationsValidator />

    <ControlCreateAndEdit Control="CreateControlRequest.Control" AddOption="@AddOption" RemoveOption="@RemoveOption"></ControlCreateAndEdit>

    <ValidationSummary />

    <div class="form-group mb-4">
        <button type="submit" class="btn btn-primary">Create control</button>
    </div>

</EditForm>