@using FormBuilderMVC.Controllers
@using FormBuilderMVC.Utilities
@model FormBuilderMVC.DTOs.Request.CreateSurveyRequest

@{
    ViewData["Title"] = "Create Survey";
}

<h4>Create Survey</h4>
<hr />
<div class="container body-content border p-3 mt-4 mb-4">
    <form asp-action="@nameof(SurveyController.AddSurvey)" asp-controller="@StringHelper.ExtractControllerName(typeof(SurveyController))" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <partial name="_SurveyCreateAndEdit" for="@Model.Survey" />

        <div class="form-group mb-4">
            <input type="submit" value="Create survey" class="btn btn-primary" />
        </div>
    </form>
</div>