@page "/SurveyOutput/{Id:int}"
@inject IHttpContextAccessor httpContextAccessor

<h3>SurveyOutput</h3>

<div class="container body-content border p-3 mt-4 mb-4">

    <form method="post" onsubmit="@SubmitForm" @formname="myform">
        <AntiforgeryToken />
        @((MarkupString)HtmlTags)
    </form>

    <h5>Html tags</h5>
    <hr />
    <div>
        <p style="white-space: pre-wrap;">@HtmlTags</p>
    </div>
</div>