@page "/SurveyOutput/{Id:int}"
@inject IHttpContextAccessor httpContextAccessor

<h3>Survey Output</h3>

<div class="container body-content border p-3 mt-4 mb-4">

    @if (string.IsNullOrEmpty(HtmlTags))
    {
        <p>There is no survey to display</p>
    }
    else
    {
        <form method="post" onsubmit="@SubmitForm" @formname="myform" enctype="multipart/form-data">
            <AntiforgeryToken />

            @* This userId field is used to get unique id to store in form submission. (This can be replaced by using Authentication by passing user id) *@
            <div class="form-group mb-4">
                <label class="control-label col-md-2">User Id/Email</label>
                <input type="text" id="userId" class="form-control" name="userId" required />
            </div>

            @((MarkupString)HtmlTags)
        </form>

        @* <h5>Html tags</h5>
        <hr />
        <div>
            <p style="white-space: pre-wrap;">@HtmlTags</p>
        </div> *@
    }
</div>