@model FormBuilderMVC.DTOs.Base.InputsDto

@{
    ViewData["Title"] = "Create Input";
}

<h4>Create Input</h4>
<hr />

<div class="container body-content border p-3 mt-4 mb-4">
    <form asp-action="AddInput" method="post" asp-route-surveyId="@Model.SurveyId">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <partial name="_InputCreateAndEdit" />

        <div class="form-group mb-4">
            <input type="submit" value="Create input" class="btn btn-primary" />
        </div>
    </form>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>