@model FormBuilderMVC.DTOs.Base.InputsDto

@{
    ViewData["Title"] = "Edit Input";
}

<h4>Edit Input</h4>
<hr />
<div class="container body-content border p-3 mt-4 mb-4">
    <form asp-action="UpdateInput" asp-route-surveyId="@Model.SurveyId" asp-route-id="@Model.Id" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <partial name="_InputCreateAndEdit" />

        <div class="form-group mb-4">
            <input type="submit" value="Update input" class="btn btn-primary" />
        </div>
    </form>
</div>