@page "/PublishedSurveys"
@rendermode InteractiveServer

<h3>Published surveys</h3>

<div class="container body-content border p-3 mt-4 mb-4">

    <table class="table table-hover table-striped-columns table-bordered table-responsive">
        <thead class="table-dark text-center">
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Open Date
                </th>
                <th>
                    End Date
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody class="text-center">
            @if (_getPublishedSurveysResponse is not null)
            {
                @foreach (var item in _getPublishedSurveysResponse.Surveys)
                {
                    <tr>
                        <td>
                            @item.Title
                        </td>
                        <td>
                            @item.OpenDate
                        </td>
                        <td>
                            @item.EndDate
                        </td>
                        <td>
                            <button class="btn btn-info btn-sm" @onclick="@(() => PreviewSurvey(item.Id))">Preview</button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
