@using FormBuilderDTO.DTOs.Base
@model InputsDto

<div class="form-group mb-4">
    <label asp-for="OrderNo" class="control-label"></label>
    <input asp-for="OrderNo" class="form-control" />
    <span asp-validation-for="OrderNo" class="text-danger"></span>
</div>
<div class="form-group mb-4">
    <label asp-for="ControlId" class="control-label"></label>
    <select asp-for="ControlId" class="form-control">
        @if (ViewData["ControlsList"] is List<KeyValuePair<string, string>> controlsList)
        {
            foreach (var option in controlsList)
            {
                <option value="@option.Key">@option.Value</option>
            }
        }
    </select>
    <span asp-validation-for="ControlId" class="text-danger"></span>
</div>