@using FormBuilderDTO.DTOs.Input
@using FormBuilderMVC.Controllers
@using FormBuilderSharedService.Utilities
@model CreateInputRequest

@{
    ViewData["Title"] = "Create Input";
}

<h4>Create Input</h4>
<hr />

<div class="container body-content border p-3 mt-4 mb-4">
    <form asp-action="@nameof(InputController.AddInput)" asp-controller="@StringHelper.ExtractControllerName(typeof(InputController))" method="post" asp-route-Input.SurveyId="@Model.Input.SurveyId">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <partial name="_InputCreateAndEdit" for="@Model.Input" />

        <div class="form-group mb-4">
            <input type="submit" value="Create input" class="btn btn-primary" />
        </div>
    </form>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>