@using FormBuilderDTO.DTOs.Survey
@using FormBuilderMVC.Controllers
@using FormBuilderSharedService.Utilities
@model UpdateSurveyRequest

@{
    ViewData["Title"] = "Edit Survey";
}

<h4>Edit Survey</h4>
<hr />
<div class="container body-content border p-3 mt-4 mb-4">
    <form asp-action="@nameof(SurveyController.UpdateSurvey)" asp-controller="@StringHelper.ExtractControllerName(typeof(SurveyController))" asp-route-Survey.Id="@Model.Survey.Id" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <partial name="_SurveyCreateAndEdit" for="@Model.Survey" />

        <div class="form-group mb-4">
            <input type="submit" value="Update survey" class="btn btn-primary" />
        </div>
    </form>
</div>